# 时区
TZ=Asia/Shanghai

# 申请证书邮箱
CERTBOT_EMAIL=admin@example.com

# MySQL
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=mysql
MYSQL_PORT=3306

# B2C WordPress
WOOCOMMERCE_VERSION=10.9.4
OBJECT_CACHE_PLUGIN_VERSION=2.3.3
MEMCACHED_MEMORY_MB=256
